version: 2
updates:
  - package-ecosystem: "npm"
    versioning-strategy: increase
    open-pull-requests-limit: 5
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: all
    groups:
      all-patch:
        update-types:
          - patch
