@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Proxima Nova Light"),
    local("Proxima Nova"),
    url("./assets/fonts/proxima-nova/proxima_nova_light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Proximanova Regular"),
    local("Proxima Nova"),
    url("./assets/fonts/proxima-nova/proximanova_regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Proxima Nova Bold"),
    local("Proxima Nova"),
    url("./assets/fonts/proxima-nova/proximanova_bold.otf") format("opentype"),
    url("./assets/fonts/proxima-nova/proximanova_boldit.otf") format("opentype"),
    url("./assets/fonts/proxima-nova/proximanova_extrabold.otf")
      format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local("Proxima Nova Black"),
    local("Proxima Nova"),
    url("./assets/fonts/proxima-nova/proximanova_black.otf") format("opentype"),
    url("./assets/fonts/proxima-nova/proximanova_blackit.otf")
      format("opentype"),
    url("./assets/fonts/proxima-nova/proximanova_black.ttf") format("truetype");
}

/* variables */
html {
  --xendit-font-family: "Proxima Nova", sans-serif;
  --xendit-color-primary: #1762ee;
  --xendit-color-text: #252525;
  --xendit-color-text-secondary: #585858;
  --xendit-color-text-placeholder: #7d7d7d;
  --xendit-color-disabled: #f7f7f7;
  --xendit-color-danger: #d1414d;
  --xendit-color-border: rgba(0, 0, 0, 0.05);
  --xendit-color-border-default: #ededed;
  --xendit-color-background: #ffffff;
  --xendit-focus-shadow: 0px 0px 0px 2px
    color-mix(in srgb, var(--xendit-color-primary) 15%, transparent);
  --xendit-animation-duration: 0.3s;
  --xendit-animation-ease: ease-in-out;
}

/* Set default font for root components */
xendit-channel-picker,
xendit-action-handler,
xendit-payment-channel {
  font-family: var(--xendit-font-family, sans-serif);
}

xendit-payment-channel button,
xendit-payment-channel textarea,
xendit-payment-channel select,
xendit-payment-channel input,
xendit-payment-channel input::placeholder {
  font-family: inherit;
}

/* Reusable typography classes */
.xendit-text-12 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01px;
}

.xendit-text-14 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.09px;
}

.xendit-text-16 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.09px;
}

.xendit-text-12,
.xendit-text-14,
.xendit-text-16 {
  font-weight: 400;
}

.xendit-text-semibold {
  font-weight: 600;
}

.xendit-text-bold {
  font-weight: 900;
}

/* Accordion component */

.xendit-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.xendit-accordion-item {
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
}

.xendit-accordion-item-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 24px 16px;
  color: var(--xendit-color-primary);
  border-radius: 8px;
}

.xendit-accordion-item-chevron {
  color: var(--xendit-color-text);
}

.xendit-accordion-item-chevron g {
  transition: transform var(--xendit-animation-duration)
    var(--xendit-animation-ease);
}

.xendit-accordion-item-header:focus {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2px
    color-mix(in srgb, var(--xendit-color-primary) 15%, transparent);
  outline: none;
}

.xendit-accordion-item-content {
  overflow: hidden;
  transition: height var(--xendit-animation-duration)
    var(--xendit-animation-ease);
}

.xendit-accordion-item-content.xendit-accordion-item-closed {
  height: 0;
}

.xendit-accordion-item-content.xendit-accordion-item-open {
  height: calc-size(auto, size);
}

.xendit-accordion-item-padding {
  padding: 16px;
}

/* Channel picker group */

.xendit-channel-picker-group select {
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
  padding: 12px;
  appearance: none;
  outline: none;
}

.xendit-channel-picker-group select:focus {
  box-shadow: 0px 0px 0px 2px
    color-mix(in srgb, var(--xendit-color-primary) 15%, transparent);
}

/* Payment channel */

xendit-payment-channel[inert] {
  filter: opacity(0.5) grayscale(1);
}

.xendit-payment-channel-instructions {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
  margin-top: 16px;
  color: var(--xendit-color-text-secondary);
}

.xendit-payment-channel-instructions-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.xendit-payment-channel-instructions-text p {
  margin: 0;
}

/* Forms */

.xendit-channel-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.xendit-channel-form > form {
  display: contents;
}

.xendit-form-field-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 12px;
}

.xendit-channel-form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.xendit-channel-form-field input:not([type="checkbox"]),
.xendit-channel-form-field select,
.xendit-channel-form-field .xendit-iframe-container {
  display: flex;
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
  padding: 12px;
  appearance: none;
}

.xendit-card-brand-logo {
  width: 32px;
  height: 24px;
  border: 1px solid var(--xendit-color-border-default);
  border-radius: 4px;
}

.xendit-card-brands-list {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;
}

.xendit-channel-form-field input:focus,
.xendit-channel-form-field select:focus,
.xendit-channel-form-field .xendit-iframe-container.xendit-field-focus {
  border-color: var(--xendit-color-primary);
  box-shadow: var(--xendit-focus-shadow);
  outline: none;
}

.xendit-channel-form-field input.invalid,
.xendit-channel-form-field .xendit-iframe-container.invalid {
  border-color: var(--xendit-color-danger);
}

.xendit-channel-form-field .xendit-iframe-container {
  height: 40px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.xendit-channel-form-field .xendit-iframe-container iframe {
  height: 40px;
  width: 100%;
  border: none;
  min-width: 0;
}

.xendit-channel-form-field.xendit-form-field-span-1 {
  grid-column: span 1;
}

.xendit-channel-form-field.xendit-form-field-span-2 {
  grid-column: span 2;
}

.xendit-checkbox-field {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.xendit-checkbox-field input {
  width: 16px;
  height: 16px;
  margin: 0;
}

.xendit-checkbox-field input,
.xendit-checkbox-field label {
  cursor: pointer;
  user-select: none;
}

/* Dialog */

.xendit-dialog-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 48px;
  justify-content: center;
  align-items: center;
}

.xendit-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--xendit-color-background);
  padding: 8px 0;
  gap: 16px;
  line-height: 24px;
}

.xendit-dialog-header button {
  background: none;
  border: none;
  color: var(--xendit-color-background);
  cursor: pointer;
  padding: 0;
}

.xendit-dialog-body {
  display: flex;
  background-color: var(--xendit-color-background);
  border-radius: 8px;
  padding: 8px;
}

.xendit-3ds-iframe {
  width: 400px;
  height: 390px;
  border: none;
  background-color: var(--xendit-color-background);
}

.xendit-error-message {
  color: var(--xendit-color-danger);
}
