/* variables */
html {
  --xendit-font-family: "Proxima Nova", sans-serif;
  --xendit-color-primary: #1762ee;
  --xendit-color-text: #252525;
  --xendit-color-text-secondary: #585858;
  --xendit-color-text-placeholder: #7d7d7d;
  --xendit-color-disabled: #f7f7f7;
  --xendit-color-danger: #d1414d;
  --xendit-color-border: rgba(0, 0, 0, 0.05);
  --xendit-color-background: #ffffff;
}

/* Set default font for root components */
xendit-channel-picker,
xendit-payment-channel {
  font-family: var(--xendit-font-family, sans-serif);
}

/* Reusable typography classes */
.xendit-text-14 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.09px;
}

.xendit-text-16 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.09px;
}

/* Icon component */

xendit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Accordion component */

xendit-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

xendit-accordion xendit-accordion-item {
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
}

xendit-accordion xendit-accordion-item .xendit-accordion-item-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 24px 16px;
  color: var(--xendit-color-primary);
  border-radius: 8px;
}

xendit-accordion xendit-accordion-item .xendit-accordion-item-header:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2px
    color-mix(in srgb, var(--xendit-color-primary) 15%, transparent);
}

xendit-accordion xendit-accordion-item .xendit-accordion-item-closed {
  display: none;
}

xendit-accordion xendit-accordion-item .xendit-accordion-item-content {
  padding: 16px;
}

/* Channel picker group */

xendit-channel-picker-group select {
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
  padding: 12px;
  appearance: none;
}

/* Payment channel */

xendit-payment-channel .xendit-payment-channel-instructions {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
  margin-top: 16px;
  color: var(--xendit-color-text-secondary);
}

/* Forms */

xendit-channel-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

xendit-channel-form > form {
  display: contents;
}

xendit-channel-form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

xendit-channel-form .xendit-form-field-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 12px;
}

xendit-channel-form-field input,
xendit-channel-form-field select,
xendit-channel-form-field .xendit-iframe-container {
  border: 1px solid var(--xendit-color-border);
  border-radius: 8px;
  padding: 12px;
  appearance: none;
}

xendit-channel-form-field .xendit-iframe-container {
  height: 40px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

xendit-channel-form-field .xendit-iframe-container iframe {
  height: 40px;
  width: 100%;
  border: none;
}

xendit-channel-form-field.xendit-form-field-span-1 {
  grid-column: span 1;
}

xendit-channel-form-field.xendit-form-field-span-2 {
  grid-column: span 2;
}
