body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}
h1 {
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}
h2 {
  border-bottom: 1px solid #ddd;
}
button {
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #ddd;
}
button:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  border-color: #eee;
  cursor: not-allowed;
}
.store {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}
.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 200px;
}
.product img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.checkout {
  max-width: 800px;
  margin: 0 auto;
}
.payment-container {
  margin: 0 auto;
}
.columns {
  display: flex;
  gap: 16px;
}
.columns > * {
  flex-basis: 0;
  flex-grow: 1;
}
.submit {
  margin-top: 32px;
}
.payment-success {
  max-width: 800px;
  margin: 0 auto;
}
