name: Publish to NPM

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Git tag name. Must match package.json. e.g. v0.0.1"
        required: true
        type: string

permissions:
  id-token: write # for NPM trusted publishing
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    # Only run on main repo, not forks
    if: github.repository == 'xendit/xendit-components-web' && startsWith(github.event.inputs.tag, 'v')

    container:
      image: node:24

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}
          fetch-depth: 0

      - name: Publish to NPM
        run: |
          # check version (must be >11.4)
          npm -v

          # install build tools
          npx pnpm@latest-10 i --frozen-lockfile

          # make dist folder (only dist folder is published)
          npx pnpm@latest-10 build

          # modify README.md
          sed -i.bak "s/VERSION_NUMBER_HERE/$XENDIT_COMPONENTS_VERSION/g" README.md
          # restore README.md on exit
          trap 'mv README.md.bak README.md' EXIT

          # publish to npm
          npm publish --no-git-checks
        env:
          XENDIT_COMPONENTS_SECURE_IFRAME_URL: https://assets.xendit.co/components/secure-iframe-${{ github.event.inputs.tag }}.html
          XENDIT_COMPONENTS_VERSION: ${{ github.event.inputs.tag }}
